@use "../../../styles/fonts";
.triangle-container {
  width: 100%;
  height: 30rem;
  border: 1px solid var(--border);
  position: relative;

  &__triangle {
    width: 100%;
    height: 100%;
    background-color: var(--surface);
    border-left: 5px solid var(--border);

    //drawing traingle
    // traingle points top-left -> middle-right -> bottom-left
    clip-path: polygon(0% 0%, 30% 50%, 0% 100%);
  }

  &__description {
    margin: 0 5rem;
    padding: 2rem 10rem;
  }
}
