.about-container {
  // font-family: var(--font-heading);
  font-size: 1rem;
  margin: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.bio {
  display: flex;
  flex-direction: row;

  &__box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    align-items: center;
    gap: 10px;
  }
  &__edu-skill-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }
  &__edu-skill-toggle {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 800;
    gap: 0.2rem;
    padding: 0.2rem 1rem 0 1rem;
    border-radius: 0.4rem;

    &__item {
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      color: var(--text-primary);
      border: 3.5px double var(--border);

      border-radius: 0.3rem;
      padding: 0.2rem 1rem;
      align-items: center;
      justify-content: center;

      background-color: var(--surface);
      opacity: 0.9;

      svg {
        width: 30px;
        height: 25px;
      }

      &:hover {
        border: 3px solid var(--border);
        transform: translateY(-3px);
        letter-spacing: 0.5px;
        opacity: 1;
      }
    }
  }
}

.story-box {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }

  &__subheading {
    font-family: var(--font-mono);
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #007bff;

    &__typing-text {
      display: inline-block;
      overflow: hidden; /* Keeps the text hidden until revealed */
      white-space: nowrap; /* Prevents text wrapping during animation */
      border-right: 4px solid #007bff; /* The Cursor! Adjust thickness here */

      /* ANIMATION: 
     - typing: reveals text
     - blink: flashes the border (cursor) 
  */
      width: 0;
      animation: typing 0.5s steps(30, end) forwards, blink 1s steps(1) infinite;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
  }
  &__profile-image-frame {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;

    &::after {
      content: "";
      position: absolute;
      inset: -2px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #8b7355;

      /* The Glow Layers */
      box-shadow: 0 0 10px 2px rgba(139, 115, 85, 0.5),
        /* Solid concentrated halo */ 0 0 25px 5px rgba(139, 115, 85, 0.3),
        /* Wider visible glow */ 0 0 45px 2px rgba(139, 115, 85, 0.15); /* Soft ambient fill */
      transition: all 0.3s ease;
      z-index: -1;
    }
  }

  &__profile-image {
    width: 100%;
    height: 100%;
    clip-path: circle(50%);
    object-fit: cover;
  }

  &__reveal-content {
    opacity: 0;
    transform: translateY(10px);

    animation: revealContent 0.8s ease-out forwards;
    animation-delay: 0.5s;
  }

  &__story {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h4 {
    padding: 0;
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 800;
    background: linear-gradient(to right, var(--bg), var(--accent));
  }

  &__lead {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 500;
  }

  &__para {
    font-size: 0.9rem;
  }

  &__core-values-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  &__core-values {
    position: relative;
    margin: 0;
    padding: 1rem 2rem;
    color: var(--text-primary);
    padding: 1rem 2rem;
    border-left: 3px solid var(--accent);
    font-style: italic;
    background: rgba(44, 33, 33, 0.03);
  }

  &__core-values::before {
    content: '"';
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.2);
  }

  @keyframes revealContent {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
