@use "/src/styles/variables";

$screen: 768px;

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  // max-width: calc(1300px - 1rem);
  max-width: 100%;
  height: 3rem;
  padding: 1rem 1rem;
  z-index: 2;
  justify-content: space-between;

  &__nav {
    display: flex;
    gap: 2rem;
    max-width: 600px;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1.7rem;
    border-radius: 8px;
    background-color: var(--surface);
    box-shadow:
      rgba(68, 57, 34, 0.08) 0px 1px 3px,
      rgba(68, 57, 34, 0.16) 0px 1px 2px;
  }

  &__links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: var(--text-highlight);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
    border: 1px solid transparent;
    opacity: 0.8;
    svg {
      width: 24px;
      height: 24px;
      display: block;
    }

    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      transform 0.2s ease;

    &:active {
      font-weight: 600;
      color: var(--text-secondary);
    }

    &:hover {
      border: 1px solid var(--border);
      border-radius: 20px;
      background-color: transparent;
      transform: translateY(-3px);
      letter-spacing: 0.5px;
      opacity: 1;
    }
  }

  &__logo {
    display: flex;
    gap: 8px;
    box-shadow:
      rgba(68, 57, 34, 0.08) 0px 1px 3px,
      rgba(68, 57, 34, 0.16) 0px 1px 2px;
    border-radius: 8px;

    svg {
      height: 4rem;
      width: 4rem;
      display: block;
      color: var(--text-highlight);
      opacity: 0.8;
    }

    &__link {
      color: inherit;
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;

    span {
      display: block;
      width: 22px;
      height: 2px;
      margin: 4px 0;
    }
  }

  &__theme-toggle {
    box-shadow: rgba(43, 43, 43, 0.15) 0px 3px 3px 0px;
    border-radius: 10px;
    transition: all 0.6s ease;

    svg {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      color: var(--text-highlight);
      padding: 0.3rem 0.7rem;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        border-radius: 10px;
        background-color: transparent;
        transform: translateY(-2px);
      }
    }
  }

  @media (max-width: var(--desktopScreen)) {
    padding-top: 16px;

    &__links {
      display: none;
    }

    &__toggle {
      display: block;
    }
  }

  @media (max-width: var(--tabletScreen)) {
    .header {
      &__nav--open {
        display: flex;
      }
    }
  }
}
