.topbar {
  position: fixed;
  padding: 1.3rem 0;
  display: flex;
  width: 90%;
  height: 2%;
  justify-content: space-between;
  z-index: 5;
  align-items: center;
  transition: top 0.5s ease-in-out;
}

.topbar .scrolling {
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  font-size: 1.4rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__link:focus {
  padding: 0.5rem;
  font-size: 1.8rem;
  box-shadow: var(--shadow);
  color: var(--text-color);
}

.copyright {
  color: var(--first-color);
  font-size: var(--small-font-size);
}
