@use "sass:map";


//light color theme
$light-theme: (
  outer-bg:#FEFBF0,
  bg: #FDF7E4,
  bg-rgb: (187, 171, 140),
  surface: #FAEED1,
  border: #DED0B6,
  accent: #BBAB8C,

  text-primary: #2B2B2B,
  text-secondary: #6B6558,

  btn-bg: #BBAB8C,
  btn-text: #ffffff,
  btn-border: #DED0B6,
  btn-hover-bg: #A89274,
  btn-hover-border: #C8B694,

  font-heading: "'Montserrat', 'Arial', sans-serif",
  font-body: "'Lato', 'Helvetica', sans-serif",
  font-art: "'Delius Swash Caps', 'cursive', sans-serif",
  font-mono: "'JetBrains Mono', monospace"
);



$dark-theme: (
  bg: #1f232b,
  text: #e5e7eb,
  primary:#e6e8ee, 
  secondary:#b2b7c6,
  border: #1e293b
);

$screen-size: (
  desktopScreen : 1023px,
  tabletScreen: 767px,
  mobileScreen: 499px
);


/* Font variables */
// $font-heading: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
// $font-body: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;





//mixins to generate css variables from map

@mixin theme($theme-map) {
  @each $key, $value in $theme-map {
    --#{$key}: #{$value};
  }
}


// Apply themes
:root {
  @include theme($light-theme);
}


[data-theme="dark"] {
  @include theme($dark-theme)
}