
@use "fonts";
@use "variables";


body {
  //background-color: vars.color(background);
  background-color: var(--outer-bg);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
   background-image: 
    linear-gradient(90deg, rgba(187, 171, 140, 0.3) 1px, transparent 1px),
    linear-gradient(rgba(187, 171, 140, 0.3) 1px, transparent 1px);
  background-size: 80px 80px;
  animation: drift 80s linear infinite;
}



@keyframes drift {
 from {
    background-position: 0 0;
  }
  to {
    /* Moving exactly one grid square (80px) ensures a perfect seamless loop */
    background-position: 80px 80px;
  }
}

.dots {
  width: 10vmin;
  height: auto;

  circle {
    fill: gray;
  }
}

.site-container{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: calc(100vh - 2rem);
  margin: 2rem auto 0 auto;
  background-color: var(--bg);
  border: 3.5px double var(--border);
  box-shadow: var(--shadow-dobule-line); 
  border-radius: 8px;
  overflow: hidden;
}



.content {
  margin-top: 112px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 112px;
}


h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

/* 2. Laptop & Desktop: Disable scrolling */
@media (min-width: 1024px) {
  html, body {
    height: 100%;
    overflow: hidden; /* This stops the scroll */
  }
}