$orange-primary: #fa8112;
$text-dim: #94a3b8;

.education {
  // Main Wrapper
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-highlight);
  border: 1px solid var(--accent);
  border-radius: 10px;
  margin: 1rem 0.5rem 0 0.5rem;

  &__card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    margin: 0.4rem 1rem 0 1rem;
  }

  &__card-heading {
    font-size: 1rem;
  }

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__degrees-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  &__degree-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0.8rem;
    flex: 1 1 auto;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition:
      transform 0.2s ease,
      border-color 0.2s ease;

    &:hover {
      border-color: rgba($orange-primary, 0.5);
      transform: translateY(-2px);
    }
  }

  &__degree-info {
    display: flex;
    flex-direction: column;
  }

  &__degree-title {
    font-weight: 500;
    font-size: 0.9rem; // Slightly increased for readability
  }

  &__university-name {
    color: var(--text-secondary);
    opacity: 0.7;
    font-size: 0.5rem;
  }

  &__degree-year {
    background: var(--surface);
    color: var(--text-highlight);
    opacity: 0.8;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    font-size: 0.65rem;
    font-family: var(--font-mono);
    white-space: nowrap; // Prevents the year from breaking
  }
}
