.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;

  z-index: 2;
  // adding the fading effect to the corner of the skills esction
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 85%,
    transparent
  );

  &__soft {
    display: flex;
    width: max-content;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-radius: 50px;
    padding: 0.2rem 0;
    background: rgba(var(--bg-rgb), 0.2);

    animation: scroll-left 30s linear infinite;
    &:hover {
      animation-play-state: paused;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 2rem;
      font-family: var(--font-mono);
      font-size: 0.5rem;
      text-transform: uppercase;
      color: var(--text-secondary);
      cursor: pointer;
    }
  }

  &__hard {
    display: flex;
    gap: 1rem;
    width: max-content;
    padding: 0.2rem 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background: rgba(var(--bg-rgb), 0.3);

    //animating to the right

    animation: scroll-right 30s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 2rem;
      font-family: var(--font-mono);
      font-size: 0.5rem;
      text-transform: uppercase;
      color: var(--text-secondary);
      cursor: pointer;
    }
  }

  &__dot {
    width: 6px;
    height: 6px;
    background-color: var(--accent);
    border-radius: 50%;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
