$orange-primary: #a78c72;
.skills-grid {
  display: flex;
  flex-direction: row; // Align cards side-by-side
  flex-wrap: wrap; // Allow cards to move to the next line on small screens
  gap: 0.5rem; // Space between cards
  padding: 0.5rem;
  justify-content: flex-start; // Align cards to the left
}

.skills-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent);
  border-radius: 10px;
  padding: 0.5rem;

  // Flex Control:
  // Grows to fill space, but won't shrink smaller than 300px
  flex: 1 1 300px;
  max-width: 100%; // Ensures it doesn't overflow on tiny screens

  transition:
    transform 0.2s ease,
    border-color 0.2s ease;

  &:hover {
    transform: translateY(-3px);
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
  }
  &__heading {
    font-weight: 500;
    font-size: 1rem;
  }

  &__icon {
    width: 22px;
    height: 22px;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap; // Allows the pills to wrap inside the card
    gap: 0.4rem;

    &__badge {
      padding: 0.1rem 0.4rem;
      background-color: var(--surface);
      border-radius: 10px;
      color: var(--text-highlight);
      font-size: 0.85rem;
      font-family: var(--font-mono);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      border: 1px solid transparent;
      // Makes sure badges stay in a line and don't stretch weirdly
      flex: 0 1 auto;

      &.is-highlighted {
        transform: scale(1.05); // Grow slightly
        background-color: var(--accent); // Tinted background
        color: var(--text-main);
        box-shadow: 0 0 15px rgba($orange-primary, 0.8); // Soft glow
        z-index: 10;
      }
    }
  }
}
